.App {
	display: grid;
	grid-template-areas:
		"header header"
		"sidebar main";
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto 1fr;
	height: 100%;
}

@media screen and (max-width: 700px) {
	.App {
		grid-template-areas:
			"header"
			"main";
		grid-template-columns: 1fr;
	}

	.App.show-sidebar {
		grid-template-areas:
			"header"
			"sidebar";
	}

	.App.show-sidebar main {
		display: none;
	}
}