.function-list {
	border-bottom: var(--border);
	border-right: var(--border);
	border-top: var(--border);
	overflow: auto;
	padding: 10px;
	scrollbar-width: thin;
}

.function-list::-webkit-scrollbar {
	width: 10px;
}

.function-list::-webkit-scrollbar-track {
	background-color: var(--fg-alpha-05);
}

.function-list::-webkit-scrollbar-thumb {
	background-color: var(--fg-alpha-15);
}

.function-list::-webkit-scrollbar-thumb:hover {
	background-color: var(--theme-color);
}

.function-list li {
	border-radius: var(--radius);
	padding: 10px 15px;
}

.function-list li:hover {
	background-color: var(--fg-alpha-2);
}

.function-list li:active {
	background-color: var(--theme-color);
	color: white;
}

@media screen and (max-width: 700px) {
	.function-list {
		border: none;
		height: auto;
		width: 100%;
	}
}