.keyboard {
	border-top: var(--border);
	display: grid;
	flex: 1;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: 100%;
}

.keyboard button {
	border-bottom: var(--border);
	font-size: 1.5rem;
	line-height: 30px;
	padding: 25px;
}

@media screen and (max-width: 700px) {
	.keyboard {
		border-top: none;
	}

	.keyboard button {
		font-size: 1.25rem;
		padding: 15px;
	}
}