.main-input-bar {
	border-bottom: var(--border);
	display: flex;
}

.main-input-bar>* {
	padding: 20px 25px;
}

.main-input-bar>button {
	appearance: none;
	background-color: transparent;
	border: none;
	transition: all .25s;
}

.main-input-bar>div {
	align-items: center;
	display: flex;
	font-size: 20px;
}

.main-input-bar>input {
	appearance: none;
	background-color: transparent;
	border: none;
	border-right: var(--border);
	display: block;
	font-size: 24px;
	width: 100%;
}

.main-input-bar>input:only-child {
	border-right: none;
}