.error {
	background-color: var(--error-color);
}

.main-input-bar {
	border-bottom: var(--border);
	display: flex;
}

.main-input-bar>* {
	padding: 20px 25px;
}

.main-input-bar>button {
	align-items: center;
	border-left: var(--border);
	display: flex;
	font-size: inherit;
	gap: 10px;
	white-space: nowrap;
}

.main-input-bar>div {
	align-items: center;
	border-left: var(--border);
	display: flex;
	font-size: 20px;
}

.main-input-bar>input {
	display: block;
	font-family: monospace;
	font-size: 24px;
	width: 100%;
}

.main-input-bar>input:only-child {
	border-right: none;
}