.formula-input {
	font-family: monospace;
	text-align: right;
}

.keyboard-area {
	align-items: center;
	display: flex;
	flex: 1;
	gap: 1px;
	margin: 0 auto;
	width: 500px;
}

.regular {
	display: flex;
	flex-direction: column;
}

.regular button:hover,
.regular li:hover {
	background-color: var(--fg-alpha-2);
}

.regular button:active,
.regular li:active {
	background-color: var(--theme-color);
	color: white;
}