.container {
	align-items: center;
	border-bottom: var(--border);
	display: flex;
	grid-area: header;
	justify-content: space-between;
	padding: 25px;
}

.left {
	align-items: center;
	display: flex;
	gap: 20px;
}

.sidebar-icon {
	cursor: pointer;
	display: none;
}

.title {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0;
}

@media screen and (max-width: 768px) {
	.sidebar-icon {
		display: block;
	}
}
